.raleway-primary-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common */
.common-btn{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding:20px 36px;
    background-color: #4E47FF;
    color:white;
    border-radius: 15px;
    height:fit-content;
    border: none;
}

header{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* nav styles */

nav{
    max-width: 1140px;
    padding:50px 0;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    align-items: center;
}

.blk{
    display:block;
}
.logo{
    width:99px;
    border-radius: 50%;
}


/* banner style */

.banner h1{
    font-size:65px;
    text-align: center;
    margin-bottom: 37px;
}

.banner{
    width: 905px;
    margin:auto;
    margin-top:158px;
    padding-bottom: 200px;
}

.btn-container{
    text-align: center;
}