.raleway-primary-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* common */
.common-btn{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding:20px 36px;
    background-color: #4E47FF;
    color:white;
    border-radius: 15px;
    height:fit-content;
    border: none;
}

.capitalize{
    text-transform: capitalize;
}


header{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* nav styles */

nav{
    max-width: 1140px;
    padding:50px 0;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    align-items: center;
}

.blk{
    display:block;
}
.logo{
    width:99px;
    border-radius: 50%;
}


/* banner style */

.banner h1{
    font-size:65px;
    text-align: center;
    margin-bottom: 37px;
}

.banner{
    width: 905px;
    margin:auto;
    margin-top:158px;
    padding-bottom: 200px;
}

.btn-container{
    text-align: center;
}





/* main */

main{
    max-width:1140px;
    margin:auto;
}


/* action */

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:116px;

}

.action-content{
    width:517px;
}

.action-content h2{
    font-size: 42px;
    font-weight: 700;
    margin:0;

}

.action-content p{
    color:rgba(37, 36, 50, 0.5);
    font-size: 24px;
    margin:23px 0;

}

.action-pic{
    width: 403px;
    border-radius:48px;
    overflow:hidden;
    
}

.action-pic img{
    width:100%;
}


/* productive user */


.productive-user-title{
    font-size:38px;
    text-align: center;
    font-weight: 700;
    margin-top:0;
    margin-bottom: 40px;
}


.productive-user{
    background-color: rgba(78, 71, 255, 0.1);
    padding:50px 80px;
    margin-top:150px;
    border-radius: 24px;
}

.productive-user-contents{
    display:flex;
    justify-content: space-between;
}

.productive-user-content{
    text-align: center;
}

.productive-user-content h2{
    color:#4E47FF;
    font-size:80px;
    font-weight: 700;
    margin-bottom:20px;
}

.productive-user-content p{
    color:rgba(0, 0, 0, 0.5);
    font-size:20px;
}

.focus-content h2{
    font-weight: 700;
    font-size:50px;
    margin-bottom: 20px;
}

.focus-content p{
    font-size: 16px;
    color:rgba(0, 0, 0, 0.5);
    margin-bottom:20px;
}

.focus-content h2, .focus-content p{
    text-align: center;
}


.focus-pic{
    border-radius: 48px;
    width: 840px;
    margin:auto;
    overflow: hidden;
    margin-top:20px;
}

.focus{
    margin-top:137px;
}